//Helpers

%container-centered {
    margin: 0 auto;
    max-width: 100%;
}

%pseudo-position {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 40%;
}

%pseudo-bg-image {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

%flex-align-helper {
    display: flex;
    align-items: center;
    justify-content: center;
}

