.shop-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
   
    @include breakpoint(desktop) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    @include breakpoint(smallDevice) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    img {
        width: 100%;
        height: 100%;
    }

    .column:nth-child(1) {
        @include breakpoint(smallDevice) {
            display: none;
        }
    }

    .column:nth-child(2) {
        @include breakpoint(smallDevice) {
            display: none;
        }
    }

    .column:nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 3;

        @include breakpoint(smallDevice) {
            display: none;
        }
    }

    .column:nth-child(4) {
        grid-row-start: 1;
        grid-row-end: 3;

        @include breakpoint(desktop) {
            grid-row-start: 3;
            grid-row-end: 5;
        }

        @include breakpoint(smallDevice) {
            display: none;
        }
    }

    .column:nth-child(5) {
        grid-column-start: 5;
        grid-column-end: 7;
        position: relative;

        @include breakpoint(desktop) {
            grid-column-start: 2;
            grid-column-end: 4;
        }

        @include breakpoint(smallDevice) {
            grid-column-start: 1;
        }
    }

    //adder background
    .column:nth-child(5):before {
        @extend %pseudo-bg-image;
        background: $turquoise;
        opacity: .7;
        z-index: 25;
    }

    //added icon
    .column:nth-child(5)::after {
        content: url("../img/Shape 13@1X.png");
        z-index: 99;
        @extend %pseudo-position;
    }

    .column:nth-child(6) {
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;

        @include breakpoint(smallDevice) {
            grid-row-end: 2;
        }
    }

    .column:nth-child(7) {
        @include breakpoint(smallDevice) {
            display: none;
        }
    }

    .column:nth-child(8) {
        @include breakpoint(smallDevice) {
            display: none;
        }
    }
}

//black container with white button
.discover {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: $light-black;
    text-align: center;
    padding: 70px 0 70px;

    @include breakpoint(smallDevice) {
       padding: 70px 25px;
    }

    //white-btn
    a {
        margin: 0 auto;
        max-width: 100%;
        color: $white;
        border: 1px solid $white;
        padding: 15px 25px 15px 20px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        transition: .2s ease-in-out;

        @include breakpoint(smallDevice) {
            margin: 0 auto;
            width: 405px;
        }
    }

    a:hover {
        color: $light-black;
        border: 1px solid $light-black;
        background-color: $white;
    }
}