#main-content {
    background-color: $light-grey;
    padding-bottom: 50px;

    p {
        color: $grey;
        line-height: 1.7;
    }

    .home-about-text {
        @extend %container-centered;
        width: $container-width;
        padding: 25px 0;
        font-weight: 600;

        @include breakpoint(desktop) {
            padding: 25px 25px;
        }

        span:nth-child(1) {
            color: $turquoise;

            &:last-child {
                color: $grey;
            }
        }
    }

    .container-main-text {
        @extend %container-centered;
        width: $container-width;
        display: flex;
        justify-content: space-between;

        @include breakpoint(desktop) {
            flex-direction: column;
        }

        .text-accordion-wrapper {
            width: 28%;
            max-width: 100%;

            @include breakpoint(desktop) {
                width: 100%;
                padding: 0 25px 25px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }

            @include breakpoint(smallDevice) {
                flex-direction: column;
                padding: 0;
            }
        }

        .side-box {
            display: flex;
            flex-direction: column;
            background-color: $white;

            @include breakpoint(desktop) {
                width: 48%;
            }

            @include breakpoint(smallDevice) {
                width: 100%;

                .about-side-img {
                    display: none;
                }

                .text-box::after {
                    content: none;
                }
            }
        }

        .side-box::after {
            content: none;
        }
    }

    //Plain text section 
    .main-article {
        width: 67%;
        color: $grey;
        max-width: 100%;

        @include breakpoint(desktop) {
            width: 100%;
            order: -1;
            padding: 0 25px 25px;
        }

        h1 {
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $dark-grey;
        }

        h2,
        h3 {
            color: $dark-grey;
        }

        .subtitle {
            font-weight: 300;
            line-height: 1.3;
        }

        img {
            width: 100%;
        }

        .img-description {
            text-align: center;
            padding: 10px 0;
            font-style: italic;
        }

        .description-underline {
            border-bottom: 1px solid $grey;
        }
    }
}

//accordion
#accordion-section {
    background-color: $white;
    margin-top: 20px;

    @include breakpoint(desktop) {
        width: 48%;
        margin-top: 0;
    }

    @include breakpoint(smallDevice) {
        width: 100%;
        margin-top: 20px;
    }

    p {
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

.accordion-container {
    display: flex;
    justify-content: center;
    align-items: center;

    button.accordion {
        background-color: transparent;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        padding: 15px 20px;
        font-size: 18px;
        color: $turquoise;
        cursor: pointer;
    }

    button.accordion:after {
        content: "\f067";
        font-weight: 300;
        font-family: "fontawesome";
        font-size: 20px;
        float: right;
    }

    button.accordion.is-open:after {
        content: "\f068";
    }

    .accordion-content {
        border-bottom: $turquoise 1px solid;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: 0.2s ease-in-out;
    }
}