#text-block {
    background-color: $light-grey;

    .text-container {
        @extend %container-centered;
        padding: 70px 0 70px;
        width: $container-width;
        text-align: center;

        img {
            padding-bottom: 25px;
        }

        h1 {
            color: $dark-grey;
            text-transform: uppercase;
            padding-bottom: 25px;
            font-size: 18px;
            letter-spacing: 1px;
        }

        p {
            color: $grey;
            line-height: 1.7;
        }
    }
}

@media(max-width: 1200px) {
    #text-block .text-container {
        padding: 50px 20px 50px 20px;
    }
}