.whole-work-section {
    background-color: $light-grey;
}

.work-container {
    @extend %container-centered;
    width: $container-width;
}

.two-images-container {
    display: flex;
    height: 100%;

    @include breakpoint(desktop) {
        padding: 0 25px;
    }

    @include breakpoint(smallDevice) {
        flex-direction: column;
        padding: 0;
    }

    .box-bike-image {
        width: 50%;
        max-width: 100%;
        object-fit: contain;
        position: relative;
        cursor: url("../img/Layer 31@1X.png"), pointer;

        &::before {
            box-shadow: inset 0px -67px 58px -8px $dark-grey;
            transition: .3s ease-in-out;
            @extend %pseudo-bg-image;
        }

        &:hover::before {
            box-shadow: inset 14px -107px 268px 45px $dark-grey;
        }

        @include breakpoint(smallDevice) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
        }

        h2 {
            color: $white;
            font-weight: 300;
            position: absolute;
            bottom: 10%;
            left: 5%;
            right: 5%;
        }
    }
}