// Mixins
@import 'mixins';
/*****************/
@import 'helpers';

/****Setup SCSS****/

//Variables
$font-family: 'Lato',
sans-serif;
$white: #FFF;
$light-grey: #F7F7F7;
$light-black: #282F35;
$grey: #848789;
$dark-grey: #353738;
$turquoise: #64C29E;
$container-width: 1100px;

//Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    text-decoration: none;
    list-style-type: none;
}

//Imports
@import 'header';
@import 'hero';
@import 'text-block';
@import 'tiles';
@import 'slider';
@import 'shop';
@import 'newsletter';
@import 'footer';