/*Setup SCSS*/

//Variables
$font-family: 'Lato',
sans-serif;
$white-color: #FFF;
$almost-white-color: #F7F7F7;
$almost-black-color: #282F35;
$grey-color: #848789;
$dark-grey-color: #353738;
$turquoise-color: #64C29E;

//Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    text-decoration: none;
    list-style-type: none;
}

//Imports
@import 'header';
@import 'hero';
@import 'text-block';
@import 'tiles';
@import 'slider';
@import 'shop';
@import 'newsletter';
@import 'footer';